name: Build and Deploy Test Version

on:
  workflow_dispatch:

jobs:
  build_deploy_24:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      # - uses: actions/setup-node@v5
      - uses: HarithaVattikuti/setup-node@Testnodefetch
        with:
          node-version: 24
      - name: Install dependencies
        run: npm install

  
      
