name: Build and Deploy Test Version

on:
  workflow_dispatch:

jobs:
  build_deploy_24:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
      # - uses: HarithaVattikuti/setup-node@Testnodefetch
      # - uses :  salmanmkc/setup-node@bump-actions-cache-v5
        with:
          node-version: 20
          cache: npm
      - name: Install dependencies
        run: npm install

  
      
